/* To center any image or text */
/* max-width:350px;
display:block;
margin : auto; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color : #059669;
    --dark-gray : #686d77;
    --off-white : #f0f0f0;
    --dark-primary : #047857;
    --light-primary : #10B981;
    --yellow : #F59E0B;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin : 0px;
}

hr{
    margin : 2rem 0rem;
}

.container{
    padding-left : 1rem;
    padding-right : 1rem;
    padding-bottom:25px;
}

.container-center{
    max-width : 600px;
    margin : auto;
    margin-bottom : 40px;
}

.container p{
    margin-top : 1.5rem;
    margin-bottom : 1.5rem;
}


/* Links */
.link{
    text-decoration : none;
    padding : 0.5rem 1rem;
    margin-top : 1rem;
    margin-bottom : 1rem;
}
.link-primary{
    background-color : var(--primary-color);
    border-radius : 0.7rem;
    color : white;
}
.link-secondary{
    color : var(--primary-color);
    border : 1px solid var(--primary-color);
    border-radius : 0.5rem;
}

.list{
    list-style: none;
}

.list-item-inline{
    display : inline;
    padding : 0rem 0.5rem;
}

.navigation{
    background-color : var(--primary-color);
    color : white;
    border-bottom-left-radius : 1rem;
    padding  :1rem;
}

.navigation .nav-brand{
    font-weight : bold;
}

.nav-pills a{
    color : white;
    text-decoration : none;
}
.nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight : bold;
}

.hero{
    padding : 5rem;
    padding-bottom : 2rem;
}

.hero .hero-img{
    max-width:270px;
    display:block;
    margin : auto; 
}

.hero .hero-heading{
    padding-top:1rem;
    font-size : 2rem;
    color : var(--dark-gray);
    text-align : center;
}

.hero .hero-heading .heading-inverted  {
    color : var(--primary-color);
}

.section{
    padding : 2rem;
}

.section h1{
    text-align : center;
}

.ow{
    background-color : var(--off-white);
}

footer{
    background-color:var(--primary-color);
    padding : 1.5rem;
    text-align : center;
    color : white;
    border-top-right-radius : 1rem;
    padding-top : 3rem;
}

.footer .footer-header{
    font-weight : bold;
    font-size:large;
}

.footer .link{
    color : white;
}

.footer ul{
    padding-inline-start : 0px;
    padding-top : 10px;
}

.hero .projects-head{
    font-size : 37px;
    padding-top: 0;
    margin : 0;
}

.block{
    display : block;
    max-width :fit-content;
    margin-bottom : 10px;
    margin-top : 10px;
    font-size : 14px;
}

.section-project{
    background-color: rgb(250, 249, 249);
    padding :5px 2rem;
}

.subheading{
    color : rgb(136, 136, 136);
}

ol{
    padding-inline-start: 0px;
    padding-left : 15px;
    padding-right : 15px;
}


/* Styles for Learnings tab */

.learnings-header{
    padding : 0;
    background-image: url("./component-library/images/webdevelopment.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin:7px;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.548); */
    border: 3px solid rgba(0, 0, 0, 0.466);
}
.learnings-header .head{
    padding : 0;
    padding : 150px;
    text-shadow : 5px 5px 10px black;
    font-size: 50px;
    color : rgb(255, 255, 255);
}

.learnings-img{
    max-width:270px;
    display:block;
    margin : auto; 
}

.cover-image{
    background-color: rgba(0, 0, 0, 0.37);
}
.cover-image:hover{
    background-color: rgba(0, 0, 0, 0.50);
}

.card{
    width : 90vw;
    max-width : 600px;
    margin:auto;
    list-style: none;
    padding : 20px;
}

.card-container{
    /* padding : 20px; */
    margin-top : 40px;
}
.card-container ul{
    padding : 0;
}
.explanation{
    text-align: center;
    font-size : 20px;
    color:#064E3B;
    margin : 7px;
    padding : 25px;
    margin-top : 50px;
    font-weight: bolder;
    border : 3px solid #0a795b;
}

.card .title{
    color :black;
    margin-top : 5px;
    margin-bottom : 8px;
    /* text-shadow: 2px 2px 3px; */
}
.card .date{
    color : rgb(226, 120, 0);
    font-weight: bolder;
    margin : 0;
    padding : 0;
}
.card .desc{
    margin :  10px 0px;
}
.card .description{
    font-size : 15px;
    margin-top:0;
}
@media (max-width: 600px){
    .learnings-header .head {
        padding: 150px 50px;
    }
    .nav-pills {
        padding : 0;
    }
}

@media (max-width: 600px){
    .learnings-header .head {
        padding: 150px 50px;
    }
    .nav-pills {
        padding : 0;
    }
    .nav-pills .link {
        padding: 0.5rem 0rem;
    }
}


